{{- $file := .Get "file" | default "events.json" -}}
{{- $eventsFile := resources.Get $file -}}
{{- if not $eventsFile }}
  Could not load upcomint events!
{{- else }}
  {{- $events := $eventsFile | transform.Unmarshal -}}
  {{- if $events }}
    <ul class="events">
      {{- range sort $events "DTSTART" "asc" }}
        {{- $isoDate := dateFormat "2006-01-02T15:04:05Z07:00" .DTSTART }}
        <li>
          <a href="{{ .URL }}" target="_blank" title="{{ .DESCRIPTION }}">{{ .SUMMARY }}</a> on 
          <time datetime="{{ $isoDate }}">{{ dateFormat "Jan 2, 15:00" .DTSTART }}</time>
        </li>
      {{- end }}
    </ul>
  {{- else }}
    <p>No upcoming events.</p>
  {{- end }}
{{- end }}
