<form method="post" action="https://codersonly.clubdesk.com/home#formblock-1000066" accept-charset="UTF-8">
  
  <input type="hidden" name="1000066">
  <input type="hidden" name="1000066_col_024" value="1000066_val_024">
  <input type="hidden" name="079_col_023" value="">

  <label for="first-name">First Name *</label>
  <input type="text" id="first-name" name="1000066_col_1" required>

  <label for="last-name">Last Name *</label>
  <input type="text" id="last-name" name="1000066_col_2" required>

  <label for="email">E-Mail Address *</label>
  <input type="email" id="email" name="1000066_col_3" required>

  <label for="public-member">
    <span>Show publicly that you're a member</span>
    <input type="checkbox" id="public-member" name="1000066_attr_1739953922200" value="Ja" checked>
  </label>

  <label for="social-media">Social Media Handles</label>
  <textarea id="social-media" name="1000066_attr_1739953011633" placeholder="GitHub, Mastodon, Discord, etc."></textarea>

  <input type="submit" value="Submit">
</form>
