{{- $file := .Get "file" | default "members.json" -}}
{{- $membersFile := resources.Get $file -}}
{{- if not $membersFile }}
  <p>Could not load member's file</p>
{{- else }}
  {{- $members := $membersFile | transform.Unmarshal -}}
  {{- if $members }}
    <ul class="members">
      {{- range sort $members "Vorname" "asc" }}
        <li>
          <span title="Joined: {{ .Eintritt }}">
	    {{- if .Public }}
	    {{ .Vorname }} {{ .Nachname }}
	    {{- else }}
	    {{ .Vorname | truncate 1 "." }} {{ .Nachname | truncate 1 "."}}
	    {{- end }}
	  </span>
        </li>
      {{- end }}
    </ul>
  {{- else }}
    <p>Could not load member's list</p>
  {{- end }}
{{- end }}
